* {
    padding:0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}
body{
    height: 100%;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: chocolate;
    padding-top: 13px;
    padding-bottom: 13px;
    height: 20%;
}
#logo {
    padding-left: 10px;
}
#nav{
    padding-left: 10px;
}
#navigation{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
#navigation a{
    padding-right: 15px ;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
#navigation a:hover {
    color: aqua;
}
#section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80%;
}
.conteudo{
    width: 40%;
}
#historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
#historia h1{
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#historia p{
    font-size: 18.8px;
    text-align: justify-all;
    letter-spacing: 1px;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.328);
    border-radius: 0px;
    height: 40rem;
}
.in{
    width: 80%;
    height: 40px;
    border: transparent 1px ;
    border-radius: 10px;
    margin-bottom: 20px;
}
#btn{
    background-color: rgb(255, 0, 0);
    color: azure;
    width: 200px;
    height: 60px;
    border-radius: 20px;
}
#btn :hover{
    background-color: black;
    color: black;
}
